@charset "UTF-8";
body {
  height: 100vh; /*medidas de referência da página para uso no container*/
  width: 100vw;
  margin: 0;
  background-color: #e5e5e5;
  position: fixed;
}

body,
html,
header,
footer,
h1,
h2,
h3,
p,
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 2rem;
  z-index: 9999;
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: transparent;
}
.header nav .input {
  display: flex;
  border: none;
  background: #fefefe;
  padding: 0 10px;
  gap: 10px;
}
.header nav .input input {
  border: none;
  width: 200px;
  height: 35px;
  background: #fefefe;
  outline: none;
}
.header .logotenis {
  width: 52px;
  height: 36px;
}
.header .logobag {
  width: 25px;
  height: 28px;
}
.header a {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  border: none;
  background: none;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px 0 110px 0;
}
main section .conteudo {
  width: 357px;
  height: 630px;
}
main h1 {
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}
main p {
  top: 0px;
  font-size: 16px;
  line-height: 19px;
  color: #9c9696;
}
main h2 {
  font-size: 40px;
  line-height: 47px;
}
main button {
  width: 274px;
  height: 90px;
  border: none;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: #ff0000;
}
main article {
  background: #9c9696;
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 28px 0 110px 0;
}
main article .div1 {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
main article .div1 .tenis-1-ampliado {
  width: 590px;
  height: 500px;
}
main article .div2 {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-evenly;
}
main article .div2 img {
  width: 260px;
  height: 174px;
}

.footer {
  width: 100%;
  height: 110px;
  position: fixed;
  bottom: 0;
}
.footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  left: 0;
}
.footer nav .redessociais {
  width: 1200px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.footer nav .redessociais a {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}
.footer nav .explorer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 500px;
  background: #000000;
  gap: 10px;
}
.footer nav .explorer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}/*# sourceMappingURL=style.css.map */