// * Referência 
    // --button: #FF0000;
    // --main-background:  #C4C4C4;
    // --background: #E5E5E5;
    // --text: #000;
    // --footer: #000;
    // --text-description: #9C9696;


    body {
        height: 100%; /*medidas de referência da página para uso no container*/
        width: 100%;
        margin: 0;
        background-color: #E5E5E5;
      }

    body,
    html,  
    header, 
    footer, 
    h1, h2, h3, p {
        font-family: 'Roboto', sans-serif;

    }






